<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travis.c196_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Views.CourseList" />
        <activity android:name=".Views.CourseView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.NoteView"
            android:theme="@style/AppTheme.NoActionBar"  />
        <activity android:name=".Views.TermView"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Views.AssessmentList" />
        <activity android:name=".Views.AssessmentView"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Views.TermList"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Utilities.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>


    </application>



</manifest>